<div class="row">

    <div class="col-md-12">

        <div id="view-header-title-skills-id" class="panel panel-default">
            <div class="panel-heading panel-heading-overflow">

                <strong>Compétences</strong>

                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-default" title="Légende" ng-click="skillsCtrl.displaySkillLegend()">
                        Légende <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </button>
                </div>

            </div>
        </div>

        <cv-skill-category-short ng-repeat="skillCategory in skillsCtrl.skillCategories" skill-category="skillCategory"></cv-skill-category-short>

    </div>
</div>
