<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="external_dependencies/bootstrap-glyphicons-master/css/bootstrap.icon-large.css">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="myCvApp" ng-controller="IndexCtrl">
  <!--[if lt IE 8]>
  <p class="browsehappy">Vous utilisez un navigateur <strong>obsolète</strong>. S'il vous plait <a href="http://browsehappy.com/">mettez à jour votre navigateur</a> pour améliorer votre experience.</p>
  <![endif]-->

  <div ng-if="pending" class="container">
      <div class="row">
          <div class="col-md-12">
              <loader></loader>
          </div>
      </div>

  </div>

  <div ng-if="!pending">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

      <div class="container">

          <div class="navbar-header">

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="#">{{gnrlInfos.cvTitle}}</a>

          </div>

          <div class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
                  <li class="divider"></li>
                  <li>
                      <a href="#/experiences"><b>Expériences</b></a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a href="#/skills"><b>Compétences</b></a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a href="#/education"><b>Formations</b></a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a href="#/devfolio"><b>Devfolio</b></a>
                  </li>
                  <li class="divider"></li>
              </ul>

          </div>

      </div>

  </div>

  <div class="container">
      <div class="row"><br/></div>
  </div>

  <!-- application content here -->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                    <div class="well">
                        <p ng-repeat="p in gnrlInfos.introduction">{{p.text}}</p>
                    </div>
              </div>
          </div>
      </div>

  <div class="container">
      <div class="row">

          <div class="col-md-3">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <div class="panel-heading"><strong>{{gnrlInfos.firstname}} {{gnrlInfos.fullname}}</strong></div>
                  </div>

              </div>

              <div class="panel panel-default">
                  <div class="panel-body">
                      <div class="pull-left">
                          <img src="{{photoUrl}}" class="img-rounded">
                      </div>

                      <div class="pull-right">
                          <ul class="list-unstyled">
                              <li>{{gnrlInfos.age}}</li>
                              <li>{{gnrlInfos.location}}</li>
                              <li>{{gnrlInfos.drivingLicence}}</li>
                              <li>{{gnrlInfos.country}}</li>
                          </ul>
                      </div>

                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-body">
                      <div>
                          <span><i class="glyphicon glyphicon-earphone"></i></span>
                          {{gnrlInfos.phone}}
                      </div>
                      <div>
                          <span><i class="glyphicon glyphicon-envelope"></i></span>
                          <a href="mailto:{{gnrlInfos.email.mailto}}?subject={{gnrlInfos.email.subject}}">
                              {{gnrlInfos.email.mailto}}
                          </a>
                      </div>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-body">
                      <a href="{{gnrlInfos.socialNetworks.github.url}}" title="{{gnrlInfos.socialNetworks.github.urlTitle}}" target="_blank">
                          <i class="icon-large icon-github"></i></a>
                      <a href="{{gnrlInfos.socialNetworks.linkedin.url}}" title="{{gnrlInfos.socialNetworks.linkedin.urlTitle}}" target="_blank">
                          <i class="icon-large icon-linked-in"></i></a>
                      <a href="{{gnrlInfos.socialNetworks.viadeo.url}}" title="{{gnrlInfos.socialNetworks.viadeo.urlTitle}}" target="_blank">
                          <i class="icon-large icon-spootify"></i></a>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-body">
                      <span><strong>Situation professionnelle</strong> :</span>
                      <span class="text-success"><strong>{{gnrlInfos.employmentStatus}}</strong></span>
                  </div>
              </div>

          </div>

          <div class="col-md-9" ng-view="">
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row"><br/></div>
  </div>

  <div class="jumbotron jumbotron-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <span>&copy; Marc Loupias 2014</span>
              </div>
              <div class="col-md-6">
                  <span class="pull-right">
                  <a href="http://www.glyphicons.com/" target="_blank">glyphicons.com</a> -
                  <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>
              </span>
              </div>
          </div>
      </div>
  </div>

  </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/experiences.js"></script>
        <script src="scripts/controllers/skills.js"></script>
        <script src="scripts/controllers/education.js"></script>
        <script src="scripts/controllers/devfolio.js"></script>
        <script src="scripts/services/skills-infos-service.js"></script>
        <script src="scripts/directives/experience-short.js"></script>
        <script src="scripts/directives/experience-full.js"></script>
        <script src="scripts/directives/skill-group-short.js"></script>
        <script src="scripts/directives/skill-category-short.js"></script>
        <script src="scripts/directives/skill-short.js"></script>
        <script src="scripts/services/skill-badge-helper.js"></script>
        <script src="scripts/directives/degree.js"></script>
        <script src="scripts/services/data-service.js"></script>
        <script src="scripts/controllers/index.js"></script>
        <script src="scripts/directives/loader.js"></script>
        <script src="scripts/directives/skill-badge-level.js"></script>
        <!-- endbuild -->
</body>
</html>
