<div class="panel panel-default">
    <div class="panel-body">
        <h4><strong>{{degree.name}}</strong></h4>
        <h4>{{degree.school}}
            <small>{{degree.period}}</small>
            <a ng-if="(degree.schoolUrl != undefined)" href="{{degree.schoolUrl}}" title="{{degree.schoolUrlTitle}}"
               target="_blank">
                <i class="icon-large icon-link"></i>
            </a>
        </h4>
        <ul>
            <li ng-repeat="skill in degree.degreeDescription">{{skill.desc}}</li>
        </ul>
    </div>
</div>
