body {
    padding-top: 50px;
    padding-bottom: 0px;
}

.panel-heading-overflow {
    overflow: hidden;
    padding-top: 20px;
}

.btn-group {
    position: relative;
    top: -5px;
}

.skill-badge-lvl-1 {
    background-color: #428bca;
}
.skill-badge-lvl-2 {
    background-color: #5bc0de;
}
.skill-badge-lvl-3 {
    background-color: #f0ad4e;
}
.skill-badge-lvl-4 {
    background-color: #5cb85c;
}

.jumbotron-footer {
    margin-bottom: 0;
    background-color: #222222;
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
}
