<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading"><strong>Devfolio</strong></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <p>
                    <strong>Proof of Concept Play!-AngularJs</strong>

                    <span class="pull-right">
                    <a href="http://poc-angular-frontend.herokuapp.com/" title="visiter la version du déployée" target="_blank">
                        <i class="icon-large icon-link"></i></a>
                    <a href="https://github.com/MarcLoupias/poc-play-rest-backend" title="code source du backend" target="_blank">
                        <i class="icon-large icon-github"></i></a>
                    <a href="https://github.com/MarcLoupias/poc-angular-frontend" title="code source du frontend" target="_blank">
                        <i class="icon-large icon-github"></i></a>
                </span>
                </p>


                <div class="well">

                    <p>
                        Le projet montre une architecture possible pour un projet d'application web avec le Play
                        framework et le duo Angular/Bootstrap.
                    </p>

                    <ul>
                        <strong><small>Le projet est scindé en deux :</small></strong>
                        <li>
                            La partie back contient la base de données, le serveur d'application et sa façade RESTful.
                        </li>
                        <li>
                            La partie front attaque les services REST du back pour nourrir le site.
                        </li>
                    </ul>

                    <p>
                        Le projet est hébergé sur heroku, le back en tant qu'application Play!, le front en tant
                        qu'application node.js
                    </p>

                </div>

                <h4><small>Technologies</small></h4>
                <p>Heroku, MySQL, Play!, AngularJs, Bootstrap</p>

                <h4><small>Langages</small></h4>
                <p>SQL, jPQL, Java, HTML5, CSS, Javascript</p>



            </div>
        </div>

    </div>
</div>
