<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading"><strong>Formations</strong></div>

                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-default" ng-hide="true"><span class="glyphicon glyphicon-info-sign"></span></button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Ingénieur systèmes et logiciels</strong></h4>
                <h4>CNAM, Toulouse (31) <small>(2012)</small></h4>
                <ul>
                    <li>POO, Design Pattern du GoF</li>
                    <li>Programmation Orientée Aspect</li>
                    <li>Java6</li>
                    <li>Droit des entreprises</li>
                    <li>Comptabilité et gestion d'entreprise</li>
                    <li>Gestion de projet (PMBoK)</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Concepteur-Développeur</strong></h4>
                <h4>AFPA, Beaumont (63) <small>(nov. 2011)</small></h4>
                <ul>
                    <li>UML 2.0</li>
                    <li>SQL</li>
                    <li>POO, Design Pattern du GoF</li>
                    <li>Java6</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Développeur informatique</strong></h4>
                <h4>AFPA, Béziers (34) <small>(avril 2005 à mars 2006)</small></h4>
                <ul>
                    <li>Merise</li>
                    <li>UML 1.1</li>
                    <li>SQL, TransactSQL</li>
                    <li>.NET 1.1, Visual Basic</li>
                    <li>Java5</li>
                    <li>HTML, CSS, Javascript</li>
                </ul>
            </div>
        </div>

    </div>
</div>
