<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading"><strong>Formations</strong></div>

                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-default" ng-hide="true"><span class="glyphicon glyphicon-info-sign"></span></button>
                </div>
            </div>
        </div>

        <degree ng-repeat="degree in degrees" degree="degree"></degree>

    </div>
</div>
