<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading"><strong>Expériences</strong></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Consultant développeur</strong></h4>
                <h4>BK-Consulting, Paris <small>(mai 2013 à nov. 2013)</small>
                    <a href="http://www.bk-consulting.fr/bk/racine/" title="BK Consulting" target="_blank">
                        <i class="icon-large icon-link"></i></a>
                </h4>
                <p>Développement de deux applications web au forfait en mode agile (SCRUM) dans le domaine de l'hotellerie.</p>
                <ul>
                    <li>Backend (MySQL, Java, Play!, services REST)</li>
                    <li>Frontend (AngularJs, Bootstrap)</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Ingénieur logiciel</strong></h4>
                <h4>Scaled Risk, Paris <small>(nov. 2012 à jan. 2013)</small>
                    <a href="http://www.scaledrisk.com/" title="Scaled Risk" target="_blank">
                        <i class="icon-large icon-link"></i></a>
                </h4>
                <p>Développement des web services et du frontend d'une solution Big Data</p>
                <ul>
                    <li>Couche services (Java, Apache Thrift)</li>
                    <li>Couche web (intranet) (RIA : HTML5, CSS2, Javascript)</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Analyste-programmeur</strong></h4>
                <h4>LOMACO, Figeac (46) <small>(avril 2006 à avril. 2011)</small>
                    <a href="http://www.lomaco.fr/" title="LOMACO S.A." target="_blank">
                        <i class="icon-large icon-link"></i></a>
                </h4>
                <p>
                    Programmeur, service logiciels de gestion et spécifiques puis, Analyste-Programmeur service
                    logiciels sanitaires.
                </p>
                <ul>
                    <li>Recueil des besoins avec le client ou la MOA (A distance ou sur site).</li>
                    <li>Rédaction de documentation technique à destination des développeurs.</li>
                    <li>Développement des produits et modifications demandés.</li>
                    <li>Encadrement auprès des développeurs.</li>
                    <li>Tests internes.</li>
                    <li>Déploiement et tests pré-production (A distance ou sur site).</li>
                    <li>Formation des utilisateurs (Sur site).</li>
                    <li>Support de niveau 3 (A distance ou sur site).</li>
                </ul>
            </div>
        </div>

    </div>
</div>