
<div class="row">

    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading"><strong>Expériences</strong></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Consultant Java/J2EE web</strong></h4>
                <h4>BK-Consulting, Paris <small>(mai 2013 à nov. 2013)</small>
                    <a href="http://www.bk-consulting.fr/bk/racine/" title="BK Consulting" target="_blank">
                        <i class="icon-large icon-link"></i></a>
                </h4>
                <p>Développement de deux applications web au forfait en mode agile (SCRUM) dans le domaine de l'hotellerie.</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Ingénieur logiciel</strong></h4>
                <h4>Scaled Risk, Paris <small>(nov. 2012 à jan. 2013)</small>
                    <a href="http://www.scaledrisk.com/" title="Scaled Risk" target="_blank">
                        <i class="icon-large icon-link"></i></a>
                </h4>
                <p>Développement des web services et du frontend d'une solution Big Data</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Analyste-programmeur</strong></h4>
                <h4>LOMACO, Figeac (46) <small>(avril 2006 à avril. 2011)</small>
                    <a href="http://www.lomaco.fr/" title="LOMACO S.A." target="_blank">
                        <i class="icon-large icon-link"></i></a>
                </h4>
                <p>
                    Programmeur, service logiciels de gestion et spécifiques puis, Analyste-Programmeur service
                    logiciels sanitaires.
                </p>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading panel-heading-overflow">

                <strong>Compétences</strong>

                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-default" ng-click="displaySkillLegend()">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <p><i class="glyphicon glyphicon-arrow-down"></i><strong>Environnements</strong></p>

                <h4><small>Systèmes</small></h4>
                <p>
                    Linux Debian/Ubuntu <span class="badge skill-badge-lvl-2">2</span>,
                    Windows <span class="badge skill-badge-lvl-2">2</span>
                </p>

                <h4><small>Langages</small></h4>
                <p>
                    Bash <span class="badge skill-badge-lvl-1">1</span>,
                    perl <span class="badge skill-badge-lvl-1">1</span>
                </p>

                <h4><small>Protocoles</small></h4>
                <p>
                    http <span class="badge skill-badge-lvl-2">2</span>,
                    ftp <span class="badge skill-badge-lvl-3">3</span>,
                    DNS <span class="badge skill-badge-lvl-2">2</span>,
                    TLS <span class="badge skill-badge-lvl-2">2</span>
                </p>

                <h4><small>Serveurs web</small></h4>
                <p>
                    Apache <span class="badge skill-badge-lvl-2">2</span>,
                    Tomcat <span class="badge skill-badge-lvl-1">1</span>
                </p>

                <h4><small>PaaS</small></h4>
                <p>Plateforme Heroku <span class="badge skill-badge-lvl-2">2</span>
                    <a href="https://www.heroku.com/" title="www.heroku.com" target="_blank">
                    <i class="glyphicon glyphicon-link"></i>
                </a></p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <p><i class="glyphicon glyphicon-arrow-down"></i><strong>Bases de données</strong></p>

                <h4><small>Types</small></h4>
                <p>
                    Modèle relationnel <span class="badge skill-badge-lvl-3">3</span>
                </p>

                <h4><small>Langages</small></h4>
                <p>SQL <span class="badge skill-badge-lvl-3">3</span></p>

                <h4><small>Outils</small></h4>
                <p>
                    MySQL Workbench <span class="badge skill-badge-lvl-2">3</span>,
                    Dia <span class="badge skill-badge-lvl-2">3</span>
                </p>

                <h4><small>SGBD</small></h4>
                <p>
                    MySQL <span class="badge skill-badge-lvl-2">2</span>,
                    HyperFileSQL <span class="badge skill-badge-lvl-4">4</span>
                </p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <p><i class="glyphicon glyphicon-arrow-down"></i><strong>Backend</strong></p>

                <h4><small>Langages</small></h4>
                <p>Java <span class="badge skill-badge-lvl-2">2</span></p>

                <h4><small>Outils</small></h4>
                <p>
                    IntelliJ <span class="badge skill-badge-lvl-2">2</span>,
                    Eclipse <span class="badge skill-badge-lvl-2">2</span>
                </p>

                <h4><small>Frameworks</small></h4>
                <p>
                    Play! <span class="badge skill-badge-lvl-2">2</span>,
                    Google Guice <span class="badge skill-badge-lvl-2">2</span>
                </p>

                <h4><small>Librairies</small></h4>
                <p>
                    Apache Commons <span class="badge skill-badge-lvl-2">2</span>,
                    Javamail <span class="badge skill-badge-lvl-2">2</span>,
                    BouncyCastle <span class="badge skill-badge-lvl-2">2</span>,
                    Jackson <span class="badge skill-badge-lvl-2">2</span>
                </p>

                <h4><small>Tests</small></h4>
                <p>
                    JUnit <span class="badge skill-badge-lvl-2">2</span>,
                    Mockito <span class="badge skill-badge-lvl-2">2</span>,
                    RestAssured <span class="badge skill-badge-lvl-2">2</span>
                </p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <p><i class="glyphicon glyphicon-arrow-down"></i><strong>Frontend</strong></p>

                <h4><small>Langages</small></h4>
                <p>
                    HTML5 <span class="badge skill-badge-lvl-2">2</span>,
                    CSS <span class="badge skill-badge-lvl-2">2</span>,
                    Javascript <span class="badge skill-badge-lvl-2">2</span>
                </p>

                <h4><small>Outils</small></h4>
                <p>
                    Yeoman <span class="badge skill-badge-lvl-2">2</span>,
                    Bower <span class="badge skill-badge-lvl-2">2</span>,
                    Grunt <span class="badge skill-badge-lvl-2">2</span>
                </p>

                <h4><small>Frameworks</small></h4>
                <p>
                    Bootstrap <span class="badge skill-badge-lvl-2">2</span>,
                    AngularJs <span class="badge skill-badge-lvl-2">2</span>
                </p>

                <h4><small>Tests</small></h4>
                <p>
                    Karma <span class="badge skill-badge-lvl-2">2</span>,
                    Jasmine <span class="badge skill-badge-lvl-2">2</span>,
                    QUnit <span class="badge skill-badge-lvl-1">1</span>
                </p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <p><strong>Génie logiciel</strong></p>

                <h4><small>Analyse</small></h4>
                <p>Merise <span class="badge skill-badge-lvl-3">3</span></p>

                <h4><small>Conception</small></h4>
                <p>
                    UML <span class="badge skill-badge-lvl-1">1</span>,
                    SOA <span class="badge skill-badge-lvl-2">2</span>,
                    Injection de dépendances <span class="badge skill-badge-lvl-2">2</span>,
                    Design patterns usuels <span class="badge skill-badge-lvl-2">2</span>
                </p>

                <h4><small>Méthodologies</small></h4>
                <p>
                    La RACHE <span class="badge skill-badge-lvl-4">4</span>
                    <a href="http://www.byatoo.com/la-rache/" title="site web de la R.A.C.H.E." target="_blank">
                    <i class="glyphicon glyphicon-link"></i></a>,
                    SCRUM <span class="badge skill-badge-lvl-1">1</span>
                    <a href="https://www.scrum.org/" title="www.scrum.org" target="_blank">
                    <i class="glyphicon glyphicon-link"></i></a>
                </p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <p><strong>Connaissances métiers</strong></p>

                <h4><small>Domaines métiers</small></h4>
                <p>
                    Gestion commerciale <span class="badge skill-badge-lvl-1">1</span>,
                    gestion de stock <span class="badge skill-badge-lvl-2">2</span>,
                    gestion de production <span class="badge skill-badge-lvl-2">2</span>,
                    bases en comptabilité <span class="badge skill-badge-lvl-1">1</span>
                </p>

                <h4><small>Normes</small></h4>
                <p>EDIFACT <span class="badge skill-badge-lvl-2">2</span></p>

            </div>
        </div>

    </div>

</div>
